.SignUpWrapper,
.signInUserForm {
	width: 90%;
	margin: 0 10px;
	position: relative;
	@media (min-width: 750px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		
	}
	
}
.forgottenPasswordForm{
	width: 90%;
	margin: 0 10px;
	padding: 10px;
}
.inputFieldWrapper{
	// width: 100%;
	@media (min-width: 750px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 100px;
	}
}
.SignUpWrapper{
	background-color: transparent;
	
}
.signInputEl,
.userNameInput,
.signupInputEl {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	height: 15px;
	font-size: 20px;
	border: none;
	border-bottom: solid 1px grey;
	// border-radius: 10px;
	&::placeholder {
		font-size: 18px;
		// text-align: center;
	}
	&:focus{
		outline: none;
		border: none;
		border: solid 1px red;
	}
}
.signInputEl{
	border-radius: 100px;
	// width: 300px;
	// @media (min-width: 750px){
	// 	width: 40%;
	// }
}
.signupInputEl{
	border-radius: 0;
	border:none;
	border-bottom: solid 1px red;
}
.signLabel,
.signUpLabel,
.label {
	display: flex;
	color: #fff;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	@media (min-width: 750px) {
		width: 40%;
	}
}
.signUpLabel,
.label{
	color: black;
	width: 100%
}
.labelTitle{
	display: block;
}
.signUpLabelTitle{
	// width: 100%;
}
.submitBtn {
	height: 40px;
	padding: 10px;
	background-color: red;
	color: #fff;
	border: none;
	font-size: 20px;
}
.required{
	color: red;
	text-align: left;
}
.ctaBtn{
	padding: 10px;
	width: 150px;
	font-size: 20px;
	border-radius: 100px;

}
.signIn{
	background-color: red;
	color:  #fff;
	border: none;
	margin-right: 20px;
	&:hover{
		background-color:red;
		// color: tomato;
	}
}
.forgottenPasswordBtn{
	background-color: red;
	color:  #fff;
	padding: 10px;
	width: 170px;
	font-size: 20px;
	border: none;
	border-radius: 100px;
}
.signUp{
	border: solid 1px red;
	background-color: transparent;
	color: red;
	&:hover{
		background-color: red;
		color: red;
	}
}
.CTAButtons{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	
}
.forgottenPasswordLink{
	color: red;
	display: block;
	margin-top: 20px;

}
.errorMessage{
	color: red;
}
.hidden{
	visibility: hidden;
}
.SignUpWrapper{
	width: 80%;
	margin: 0 auto;
}