.SignUpWrapper,
.signInUserForm {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// flex-direction: column;
	width: 90%;
	margin: 0 10px;
	position: relative;
}
.SignUpWrapper{
	background-color: transparent;
}
.inputEl,
.userNameInput {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	height: 15px;
	font-size: 20px;
	border-bottom: solid 1px grey;
	border-radius: 10px;
	&::placeholder {
		font-size: 18px;
		// text-align: center;
	}
	&:focus{
		outline: none;
		border: none;
		border-bottom: solid 1px tomato;
	}
}
.label {
	display: flex;
	// justify-content: flex-start;
	color: #fff;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
}
.labelTitle{
	display: block;
}
.submitBtn {
	height: 40px;
	padding: 10px;
	background-color: tomato;
	color: #fff;
	border: none;
	font-size: 20px;
}
.required{
	color: red;
	text-align: left;
}
.ctaBtn{
	padding: 10px;
	width: 150px;
	font-size: 20px;
	border-radius: 100px;

}
.signIn{
	background-color: red;
	color:  #fff;
	border: none;
	margin-right: 20px;
	&:hover{
		background-color:red;
		// color: tomato;
	}
}
.forgottenPassword{
	background-color: tomato;
	color:  #fff;
	padding: 10px;
	width: 150px;
	font-size: 20px;
	border-radius: 100px;
}
.signUp{
	border: solid 1px red;
	background-color: transparent;
	color: #fff;
	&:hover{
		background-color: red;
		color: #fff;
	}
}
.CTAButtons{
	display: flex;
	margin-top: 30px;
}
.forgottenPasswordLink{
	color: red;
	display: block;
	margin-top: 20px;

}