.UserAccountUI {
  // background-color: rgb(216, 215, 215);
  min-height: 100vh;
  max-width: 960px;
  margin-top: -20px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 20px;
   @media (min-width: 960px) {
    background-color: rgb(235, 233, 233);
  }
}
.Nav {
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.listContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding: 10px 5px
  // width: 100%;
}
.avatarLinkWrapper{
  display: flex;
  align-items: center;
}
.innerHeaderWrapper{
  display: flex;
  justify-content: space-between;
  width: 200px;
  @media (min-width: 450px) {
    width: 250px;
  }
  @media (min-width: 500px) {
    width: 300px;
  }
  @media (min-width: 620px) {
    width: 300px;
  }
   @media (min-width: 650px) {
    width: 300px;
  }
}
.listItem {
  padding: 10px;
  // width: 75px; 
}
.link {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.completedLeftWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
   @media (min-width: 650px) {
    min-width: 250px;
  }
}
.styles.navBtn{
  align-self: flex-start;
  padding: 0;
  margin-right: 10px;
}
.icon {
  // fill: rgb(148, 145, 145);
  fill: red;
  font-size: 30px;
  width: 30px;
  height: 30px;
}
.settingLink {
  font-size: 30px;
  fill: rgb(204, 204, 204);
}
// .icon,

.todayTodo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  font-size: 20px;
  width: 300px;
   @media (min-width: 650px) {
    width: 300px;
    font-size: 25px;
  }
}
.arrowForward{
  font-size: 20px;
  fill: black;
}
.sunIcon {
  fill: lightgreen;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 5px;
}
.todayTodo
 {
  // margin-left: 10px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
// .iconFigure{
//   margin: 0;
//   height: 30px;
//   width: 30px;
// }
.completedIcon {
  fill: rgb(73, 197, 73);
  @media (min-width: 600px) {
    
   
  }
  
}
.tomorrowIcon {
  fill: orange;
}
.AddProject{
 margin-left: 10px;
 
}
.addProjectIcon{
  fill: #FF3D00;
}
.linkToAddProject{
  text-decoration: none;
  color: black;
  display: block;
  font-weight: 400;
}
.addProjectSpan{
  width: 80%;
  display: block;
}
.projectWrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  color: black;
  padding-right: 10px;
}
.projects{
  @media (min-width: 500px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.project{
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 18px;
 
}
.projectColor{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.addProjectWrapper{
  margin: 0;
  margin-top: 20px;
   @media (min-width: 650px) {
    font-size: 25px;
  }

}
.AddProject{
  height: 20px;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  width: 100%;
  margin: 0;
}
.innerWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
   @media (min-width: 650px) {
    justify-content: space-between;
    // width: 200px;
  }
}

.addFolderIcon{
  fill: red;
  padding: 10px
}
.addTagIcon{
  fill: black;
  padding:  10px;
  font-size: 20px;
}
.addProjectIcon{
  font-size: 30px;
  margin-right: 15px;
  @media (min-width: 650px) {
     margin-right: 25px;
  }
}
.colorAndProjectWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}
.projectInnerWrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.projectColor,
.focusTime{
  margin-right: 10px;
}
.navigateBackIcon {
    width: 30px;
    height: 30px;
    // margin-right: 20px;
  }
.backBtn {
    background-color: transparent;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
  }
  .avatarParentContainer{
	width: 100;
	height: 100;
	display: flex;
	justify-content: flex-start;

}
.avatarParentContainer{
  display: flex;
  align-items: center;
}
.profilePicture{
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.fallbackAvatar{
	font-size: 35px;
	fill: grey;
  background-color: rgb(224, 224, 224);
	border-radius: 50%;
  margin-right: 5px;
}
.settingsAvatar{
  background-color: rgb(224, 224, 224);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: solid 1px rgb(211, 211, 211);
}
.userName{
  font-weight: bold;
  padding: 10px;
}
.projectsFolderWrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 20px;
}
.projectsListHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  // width: 100%;
}
.projectFolderAndTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.projectsFolderIcon{
  fill: #FF3D00;
  // margin-right: 20px;
}
.projectsTitleContainer{
  width: 80%;
  display: flex;
  justify-self: flex-start;
  @media (min-width: 650px) {
    font-size: 25px;
  }
}
.projectsListContainer{
  border-left: solid 1px #FF3D00;
  padding: 0 20px;
  width: 100%;
  
  // height: 250px;
}
.navigateBackIcon{
  color: black;
  font-size: 18px;
  margin: 0 -20px;
  
}
.dropDownIconContainer{
  justify-self: flex-end;
  margin: 0;
}
.dropDownIcon{
  font-size: 20px;
  fill: black;
 
}
.collapseProjects{
  height: 0;
  visibility: hidden;
}
.loadingSpinner{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	

}
.loader {
  position: relative;
  width: 20px;
  height: 20px;
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #FF3D00 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}