.reportsWrapper{
    background-color: rgb(216, 214, 214);
    min-height: 100vh;
    overflow: scroll;

    // padding: 10px;
}
.headerContainer{
    background-color: #fff;
    margin: 0 10px 10x 10px ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.mainHeader{
    margin: 0;
    padding: 10px;
    color: black;
    @media (min-width: 450px) {
        font-size: 25px;
    }
}
.projectSelectionWrapper{
    background-color: #fff;
    padding: 10px;
    color: black;
    font-weight: 600;
    margin: 10px;
    border-radius: 10px;
}
.selectProjectHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    @media (min-width: 450px) {
        font-size: 20px;
    }
}
.projectsWrapper{
    // background-color: grey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.projectTitle{
    padding: 10px;
}
.hidden{
    visibility: hidden;
    height: 0;
}
.chartContainer{
    background-color: #fff;
    min-height: 470px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    
    
}
.chartHeader{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.header{
    padding: 10px;
    margin: 0 ;
    color: #dd2b0c;
     @media (min-width: 450px) {
        font-size: 25px;
    }
}
.timeSummary{
    padding: 0 10px;
}
.reportSummaryWrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
   
}
.graphHeader{
    color: black; 
    margin-top: 30px;
    @media (min-width: 450px) {
        font-size: 25px;
    }
}
.navLink{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;


    // margin-right: 10px;
}
.navLinkIcon{
    font-size: 30px;
    fill: black;
}
.chartWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 30px;
    // min-height: 470px;
   
}